.webView{
  width: 768px;
  height: 715px;
  margin: 0 auto;
}

.start{
margin: 125px auto;
}

.start h2 {
position: relative;
top: 40px;
font-weight: bold;
}

header > h2{
margin: 40px auto;
font-weight: bold;
}

.main{
height: 465px;
background: #ffffff;
}

.main_content{
margin: 20px 110px;
border: 2px solid #111;
height: 95%;
}

.tab_content{
background: rgb(224, 224, 224);
height: 90.5%;
}

p{
position: relative;
top: 15px;
}

header, footer{
height: 125px;
border: 1px solid #111;
}


/* Game1.js */
table td {
border: 1px solid #111;
}

.tb1{
height: 300px;
background: #000000;
width: 350px;
margin: 30px auto;
}

.tb1 td {
border: 1px solid #ffffff;
}

/* Game2.js */
.tb2{
  height: 330px;
  background: #fde38e;
  width: 330px;
  margin: 30px auto;
}

.tb2 td {
border: 1px solid #c7c0c0;
}

.black {
background: #111;
border-radius: 50%;
margin: 40px;
}

.white {
  background: #111;
  border-radius: 50%;
  margin: 40px;
  }




/* Game3.js */
.tb3{
height: 300px;
background: rgb(52, 152, 219);
width: 350px;
margin: 30px auto;
}

.tb3 td {
border: 1px solid #ffffff;
}

/* Game4.js */
.tb4{
height: 300px;
background: rgb(108, 179, 138);
width: 350px;
margin: 30px auto;
}

.tb4 td {
border: 1px solid #c7c0c0;
}















.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
